modules = ["nodejs-22"]
run = "npm run dev -- -H 0.0.0.0"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start", "--", "-H", "0.0.0.0"]
